body {
    font-family: 'Roboto', serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #FAFAFA;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav > img.logo {
    max-width: 100px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: #005D15;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 30px;
}

nav ul li a:hover {
    color: #EF8C26;
}

main {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the member elements */
    gap: 20px; /* Add space between the member elements */
}

.event {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 8px;
    width: 250px; /* Set a fixed width for each member card */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    width: 100%;
}

h3 {
    color: #005D15;
}

.event:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    display: flex;             
    flex-direction: column;    
    align-items: center;       
    justify-content: center;   
    background-color: #FAFAFA; 
    padding: 20px;             
    text-align: center;        
}

footer .logo {
    max-width: 100px;              /* Set the width of the logo */
    height: auto;
}

footer h4 {
    font-size: 1.2rem;
    color: #005D15;
}

footer .logo-text {
    display: flex;             /* Align logo and text horizontally */
    align-items: center;
}

/* Style for social media links */
footer .social-links {
    list-style: none;          /* Remove default list styles */
    padding: 0;                /* Remove padding */
    display: flex;             /* Use Flexbox to align the items */
    justify-content: center;   /* Center the icons horizontally */
}

footer .social-links li {
    margin: 0 15px;            /* Add space between the icons */
}

footer .social-links a {
    font-size: 2rem;           /* Set the icon size */
    color: #005D15;               /* Set the icon color */
    transition: color 0.3s;    /* Add a smooth transition effect on hover */
}

footer .social-links a:hover {
    color: #EF8C26;            /* Change icon color on hover */
}